{% extends 'base.html' %}
{% load static %}
<head>
    <title>Home</title>
    {%block body%}

</head>
<body>

<div class="container my-3 px-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>

        </div>


        <div class="carousel-inner">
            <div class="carousel-item active">

                <img src="/static/images/slide 40.jpg" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="/static/images/slide 39.jpg" class="d-block w-100"
                     alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static '/images/slide 27.jpg/' %}" class="d-block w-100" alt="...">
            </div>

        </div>

        <div class="container my-3 py-3 p=0">
            <h3 class="text-center"> Me at a Glance</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                     <img src="/static/images/slide 33.jpg" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Manager</h5>
                            <p class="card-text">Management is my passion. Technology
                                has become a necessary tool.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/slide 36.jpg" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Developer</h5>
                            <p class="card-text">Continuous learning is the new norm,ignore to learn and you fall
                                back.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/slide 35.jpg" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Designer</h5>
                            <p class="card-text">One way to go green is to appreciate nature in the colours you
                                like.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
    {%endblock body%}

